* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Quicksand', sans-serif;
  height: 100vh;
  color: white;
  opacity: 0.8;
  transition: background-image 1s ease-in-out 0.1s ;
}

#time {
  font-size: 8rem;
}

h1 {
  margin-bottom: 3rem;
}

h2 {
  margin-bottom: 0.5rem;
}

#focus {
  font-size: 1.8rem;
  border: 0;
  background: none;
  border-bottom: 2px solid #fff;
  color: #fff;
  font-family: 'Quicksand', sans-serif;
  outline: 0;
  text-align: center;
  width: 60%;
}

.change-bg-wrapper {
}

.timer-wrapper {
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}


#change-bg {
  padding: 10px;
  border: none;
  background: none;
  color: #fff;
  font-family: 'Quicksand', sans-serif;
  font-size: 1.4rem;
  outline: none;
  border-radius: 10%;
}

#change-bg:hover {
  cursor: pointer;
  background: white;
  color: #000000;
}
#change-bg:active {
  opacity: 0.9;
}

@media(max-width: 700px) {
  #time {
    font-size: 6rem;
  } 
}

