@import "normalize";
@import "variables";
@import "card";
@import "burgerMenu";
@import "switchButton";
@import "gameButton";
@import "stars";
@import "statistics";

body {

}

.app-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: rgb(255,255,255);
  background: linear-gradient(180deg, $primary-color, $secondary-color 40%,#ffffff 70%);
}

.header {
  width: 100%;
  position: sticky;
  top: 0;
  max-width: 1500px;
  height: 120px;
  margin: 0 auto;
  z-index: 2;
}

.header_wrapper {
  width: 95%;
  height: 100%;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

// .nav_menu {
//   width: 50px;
//   height: 50px;
//   background-color: cornflowerblue;
// }

.main {
  padding: 20px 0;
  width: 95%;
  min-height: 70vh;
  margin: 0 auto;
}

.footer {
  max-width: 1500px;
  margin: 0 auto;
  // background-color: brown;
}

.footer-wrapper {
  width: 95%;
  height: 120px;
}

@media (max-width: 440px) {
  .main {
    width: 100%;
  }
  .cards_wrapper {
    margin: 20px 0;
  }
  .stars_wrapper{
    margin: 0 10px;
  }
}
