@import "normalize";
@import "variables";
@import "card";
@import "burgerMenu";
@import "switchButton";
@import "gameButton";
@import "stars";
@import "statistics";

.app-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: rgb(255,255,255);
  background: linear-gradient(180deg, $primary-color, $secondary-color 40%,#ffffff 70%);
}

.header {
  width: 100%;
  position: sticky;
  top: 0;
  max-width: 1500px;
  height: 120px;
  margin: 0 auto;
  z-index: 2;
}

.header_wrapper {
  width: 95%;
  height: 100%;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

.main {
  padding: 20px 0;
  width: 95%;
  min-height: 70vh;
  margin: 0 auto;
}

.footer {
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
}

.footer-wrapper {
  width: 95%;
  height: 120px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.rs-logo {
  height: 40px;
}

.app-author {
  font-size: 20px;
}

.app-author a {
  text-decoration: none;
  color: black;
}

.app-author a:hover {
  color: $shadow-color;
}

@media (max-width: 440px) {
  .main {
    width: 100%;
  }
  .cards_wrapper {
    margin: 20px auto;
  }
  .stars_wrapper{
    margin: 0 10px;
  }
}
