@import "normalize";
@import "burgerMenu";
@import "switchButton";
@import "gameButton";
@import "stars";

body {
  width: 100%;
  height: 100%;
}

.header {
  position: sticky;
  top: 0;
  max-width: 1500px;
  height: 120px;
  margin: 0 auto;
  background-color: yellow;
  z-index: 2;
}

.header_wrapper {
  width: 95%;
  height: 100%;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

.nav_menu {
  width: 50px;
  height: 50px;
  background-color: cornflowerblue;
}

.main {
  padding: 20px 0;
  max-width: 1500px;
  min-height: 70vh;
  margin: 0 auto;
  background-color: yellowgreen;
}

.cards_wrapper {
  margin: 40px 40px 40px 40px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 40px;
  align-items: center;
  justify-content: space-between;
  font-size: 120px;
  text-shadow: 2px 2px 0 #4074b5, 2px -2px 0 #4074b5, -2px 2px 0 #4074b5, -2px -2px 0 #4074b5, 2px 0px 0 #4074b5, 0px 2px 0 #4074b5, -2px 0px 0 #4074b5, 0px -2px 0 #4074b5;
}

.card_container {
  height: 200px;
  background-color: darkblue;
  box-shadow: 10px 10px 5px -4px rgba(181,78,181,1);
  text-decoration: none;
  color: azure;
  transform: none;
  font-size: 40px;
  transform-style: preserve-3d;
  backface-visibility: initial;
  transition: all .5s ease-in-out;
}

.active_card {
  transform: rotateY(180deg);
}

.card_container img {
  width: 300px;
  height: 200px;
}

.card_container:hover {
  cursor: pointer;
  box-shadow: -11px -9px 5px -4px rgba(79,179,139,1);
}

.card_container.off {
  pointer-events: none;
  box-shadow: none;
}

.card_bottom {
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  bottom: 60px;
  font-size: 40px;
  text-shadow: 2px 2px 0 #4074b5, 2px -2px 0 #4074b5, -2px 2px 0 #4074b5, -2px -2px 0 #4074b5, 2px 0px 0 #4074b5, 0px 2px 0 #4074b5, -2px 0px 0 #4074b5, 0px -2px 0 #4074b5;
  z-index: 1;
}

.card_front {
  backface-visibility: hidden;
}

.card_back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background-color: blueviolet;
  font-size: 40px;
  line-height: 100px;
  text-align: center;
  transform: rotateY(180deg);  
}

.card_curtain {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: black;
  opacity: 0;
  transition: all .5s ease-in-out;
}

.btn_rotate {
  width: 40px;
  height: 40px;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer {
  max-width: 1500px;
  height: 10vh;
  margin: 0 auto;
  background-color: brown;
}

@media (max-width: 440px) {
  .cards_wrapper {
    margin: 20px 10px;
  }
  .stars_wrapper{
    margin: 0 10px;
  }
}
