.stars_wrapper {
  max-width: 1425px;
  margin: 0 auto;
  width: 95%;
  height: 40px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.stars_wrapper img {
  height: 35px;
}

.lose-win-picture {
  width: 200px;
}

.lose-win-message {
  font-size: 100px;
  text-align: center;
}

@media (max-width: 440px) {
  .lose-win-message {
    font-size: 50px;
  }
}