.stats_table {
  border: 2px solid darkblue;
  font-size: 16px;
  text-shadow: none;
  width: 100%;
  border-spacing: 0;
}

.stats_table, th, td {
  border: 1px solid black;
}

th:hover {
  cursor: pointer;
  background-color: aquamarine;
}
