.stats_table {
  margin: 0 auto;
  width: 75%;
  font-size: 16px;
  text-shadow: none;
  border-spacing: 0;
}

.stats_table, th, td {
  border: 1px solid $shadow-color;
  transition: all .3s ease-in-out;
}

th {
  font-size: 20px;
  background-color: $primary-color;
}

th:hover {
  cursor: pointer;
  background-color: $shadow-color;
  color: white;
}

.stats-buttons-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.stats-btn {
  font-size: 25px;
  border: 2px solid $shadow-color;
  transition: all .3s ease-in-out;
  border-radius: 10px;
  padding: 0 10px;
  background-color: $primary-color;
  height: 40px;
  line-height: 40px;
}

.stats-btn:hover {
  cursor: pointer;
  background-color: $shadow-color;
  color: white;
  box-shadow: 0px 2px 5px 2px $secondary-color;
}
