* {
  margin: 0;
  padding: 0;
}

.tile {
  margin: 0;
  position: fixed;
  color: white;
  text-shadow: 2px 2px 4px #000000;
  border-radius: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  user-select: none;
}

.tile:hover {
  cursor: pointer;
  opacity: .7;
  transition: .2s;
}

.empty,
.empty:hover {
  opacity: 0;
  cursor: auto;
  pointer-events: none;
}

.field {
  margin: 0 auto;
  margin-top: 20px;
}

.stats-panel,
.buttons-panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrapper {
  background-color: #6cb3fa;
  margin: 0 auto;
  width: fit-content;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.btn,
.select-field-size {
  margin: 5px;
  height: 30px;
  width: 50px;
  background-color: #4f8dca;
  border-radius: 2px;
  border: none;
}

.btn:hover {
  cursor: pointer;
  background-color: #6cb3fa;
  border: 1px solid #4f8dca;
}

.btn, 
.btn:active, 
.btn:focus {
    outline: none;
}

.turns-counter,
.game_timer {
  margin: 5px;
}

.btn:disabled {
  cursor: auto;
  background-color: #4f8dca;
  border: none;
}

